@page
@model Giel.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form method="post" asp-page-handler="FetchTodayRate">
    <button type="submit" class="btn btn-primary">Pobierz dzisiejszy kurs USD</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyRate[0].CurrencyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyRate[0].Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyRate[0].Date)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CurrencyRate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            
        </tr>
}
    </tbody>
</table>
<canvas id="chart" width="800" height="400"></canvas>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('chart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: @Html.Raw(Json.Serialize(Model.CurrencyRate.Select(x => x.Date.ToString("yyyy-MM-dd")))),
                datasets: [{
                    label: 'Kurs USD',
                    data: @Html.Raw(Json.Serialize(Model.CurrencyRate.Select(x => x.Rate))),
                    borderColor: 'blue',
                    borderWidth: 2,
                    fill: false
                }]
            }
        });
    </script>
}
